spring:
  application:
    name: config-service

  cloud:
    config:
      server:
        git:
          uri: https://github.com/0x3l4/aston-external-config
          default-label: develop
          search-paths:
            - '{application}'
